html, body {
    min-height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #FF5733, #FFBD33, #DBFF33, #75FF33, #33FF57, #33FFBD, #33DBFF, #3357FF, #5733FF, #BD33FF) !important;
    background-size: cover !important; 
    background-repeat: no-repeat !important;
    font-family: Arial, sans-serif !important;
}

h1 {
    font-size: 3rem !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) !important;
}

.nav-item .nav-link {
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease-in-out;
}

.nav-item.active-link .nav-link {
    border-bottom: 3px solid red;  
    color: orange !important;
}

.navbar .nav-link {
    font-size: 1.3rem; 
}

.card.shadow-lg {
    margin-top: 10vh;
}

.card-hover:hover {
    transform: scale(1.03) !important;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2) !important;
    transition: all 0.3s ease-in-out !important;
}

.card-header {
    font-weight: bold !important;
}

.btn {
    transition: background-color 0.3s ease !important;
}

.btn:hover {
    background-color: darkgray !important;
    color: black !important;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 2.5rem !important;
    }

    .navbar .nav-link {
        font-size: 1.2rem;
    }

    .nav-item.active-link .nav-link {
        border-bottom: 2px solid red; 
        width: 70%;  
        display: inline-block;  
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 2rem !important;
    }

    .navbar .nav-link {
        font-size: 1.1rem;
    }

    .nav-item.active-link .nav-link {
        border-bottom: 2px solid red;  
        width: 50%;  
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem !important;
        text-align: center !important;
    }

    .navbar .nav-link {
        font-size: 1rem;
    }

    .nav-item.active-link .nav-link {
        border-bottom: 2px solid red;  
        width: 30%;  
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem !important;
        text-align: center !important;
    }

    .navbar .nav-link {
        font-size: 0.9rem;
    }

    .nav-item.active-link .nav-link {
        border-bottom: 2px solid red;  
        width: 25%;  
    }

    .card.shadow-lg {
        margin-top: 4vh;
    }

    .btn {
        font-size: 0.9rem !important;
        padding: 8px 15px !important;
    }

    .card-hover:hover {
        transform: none !important;
        box-shadow: none !important;
    }
}

