{% extends "base.html" %}
{% block content %}
    <section id="about" class="container mt-5">
        <h1>About Me</h1>
        <hr style="border: 2px solid blue; margin: 0 30vw">
        <h2>Academics</h2>
        <hr style="border: 2px solid blue; margin: 0 30vw">
        <div class="content" style="background-color:grey; margin:0 30vw;">
            <h4>Bachelor of Technology(EEE)<br>SMS Institute Of Technology, Lucknow<br>Duration: 2015-2019<br>Percentage: 71.06 %</h4>
        </div>
        <hr style="border: 2px solid blue; margin: 0 30vw;">
        <h2>Skills</h2>
        <hr style="border: 2px solid blue; margin: 0 30vw;">
        <div class="container" style="background-color:grey; margin:0 30vw;">
            <ul>
                <h4><li>Python/Django <b>|</b> AWS <b>|</b> HTML/CSS/JS <b>|</b> FastAPI/RESTful API <b>|</b> PostgreSQL/MySQL/MongoDB <b>|</b> Data Visualization</li></h4>
            </ul>
        </div>
        <hr style="border: 2px solid blue; margin: 0 30vw;">
        <h2>Certificates</h2>
        <hr style="border: 2px solid blue; margin: 0 30vw;">
        <div class="container" style="background-color:grey; margin:0 30vw;">
            <ul>
                <h4><li>Google IT Automation with Python Professional
                    Certificate (07/2022 - 12/2022)  <b>|</b> PGDCA (12/2022 - 12/2023) 
            </ul>
        </div>
        <hr style="border: 2px solid blue; margin: 0 30vw;">
        <h2>Personal Details</h2>
        <hr style="border: 2px solid blue; margin: 0 30vw;">
        <div class="content" style="background-color:grey; margin:0 30vw;">
            <h4>Name: Rahul Thakur<br>Email id: rahulthakur13351@gmail.com<br>Languages known: English | Hindi<br>Contact No: 96xxxxxx92</h4>
        </div>
        <br>
    </section>
{% endblock %}
                 
