{% extends "base.html" %}
{% block content %}
    <section id="home" class="text-center">
        <h1>Welcome to My Portfolio</h1>
        <img src="/static/images/profile.jpeg" alt="Profile Picture" class="profile-img">

        <div class="marquee">
            <p>Hi, I'm <span>Rahul Thakur</span>, a junior Python developer passionate about building efficient and scalable applications.</p>
        
            <p>Feel free to explore my portfolio, check out my projects, and contact me if you'd like to connect or collaborate on exciting projects. Thank you for visiting my site!</p>  
        </div>
    </section>
{% endblock %}
        
        
