{% extends "base.html" %}
{% block content %}
    <section id="projects">
        <h1 class="text-center my-5">My Projects</h1>
        <div class="project-card">
            <h2>Project 1: Blog Website</h2>
            <p>A fully functional blog website where users can read and write blog posts.</p>
        </div>
        <div class="project-card">
            <h2>Project 2: YouTube Video Downloader App</h2>
            <p>A simple app to download YouTube videos directly to your device.</p>
        </div>
        <div class="project-card">
            <h2>Project 3: Mental Health Tracker App</h2>
            <p>Track your moods and therapy sessions with this easy-to-use app.</p>
        </div>
        <div class="project-card">
            <h2>Project 4: Garbage Management System</h2>
            <p>A system to manage garbage collection and schedules efficiently.</p>
        </div>
        <div class="project-card">
            <h2>Project 5: My Portfolio Website Using FastAPI</h2>
            <p>A personal portfolio website developed using FastAPI to showcase my work.</p>
        </div>
        <br>
    </section>
{% endblock %}
