{% extends 'base.html' %}

{% block title %}Add Maintenance Log{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg mt-5">
                <div class="card-header bg-info text-center">
                    <h2 style="font-weight: bold;">Add Maintenance Log</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ form.as_p }}
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-info btn-block">Save Maintenance Log</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
