{% extends 'base.html' %}

{% block title %}Maintenance Logs{% endblock %}

{% block content %}
<div class="container my-3 py-5">
    <h1 class="text-center text-dark">Maintenance Logs</h1>
    <p class="text-center text-active mb-4 my-4" style="font-size: 1.3rem; color:red;">Manage and track maintenance activities for bins effectively.</p>

    <div class="text-center mb-4">
        <a class="btn btn-primary btn-lg" href="{% url 'create_maintenance_log' %}">Add New Maintenance Log</a>
        <a class="btn btn-primary btn-lg ml-2" href="{% url 'maintenance_chart' %}">View Maintenance Chart</a> 
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered shadow-lg" style="background-color: #f8f9fa;">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Bin Location</th>
                    <th>Maintenance Date</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr class="text-center">
                    <td>{{ log.bin.location }}</td>
                    <td>{{ log.maintenance_date }}</td>
                    <td>{{ log.description }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{% url 'update_maintenance_log' log.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'delete_maintenance_log' log.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
</div>
{% endblock %}
